<body>
    <!-- <button (click)="highlightText()">Highlight Text</button>) -->
<h1 style="text-align: center;">{{name}}</h1>
<p class="fancy" style="margin-top: -15px;">Fort Thomas, Kentucky</p>
<span class="fancy" style="margin-top: -30px; right: 120px;">{{phone}} | {{email}}</span>
<a class="linkedin" href='https://www.linkedin.com/in/samuel-schultz-217952126/' target="_blank">{{linkedin}}</a>

<div>&nbsp;</div>
<hr>
<h2><p style="text-align: center; text-decoration: underline; font-size: x-large;">{{techtitle}}</p></h2>
<table class="mytable" style="position:center;">
    <tr>
        <td>{{tech[1]}}</td>
        <td>{{tech[2]}}</td>
        <td>{{tech[3]}}</td>
        <td>{{tech[4]}}</td>
        <td>{{tech[5]}}</td>
    </tr>
    <tr>
        <td>{{tech[6]}}</td>
        <td>{{tech[7]}}</td>
        <td>{{tech[8]}}</td>
        <td>{{tech[9]}}</td>
        <td>{{tech[10]}}</td>
    </tr>
    <tr>
        <td>{{tech[11]}}</td>
        <td>{{tech[12]}}</td>
        <td>{{tech[13]}}</td>
        <td>{{tech[14]}}</td>
        <td>{{tech[15]}}</td>
    </tr>
    <tr>
        <td>{{tech[16]}}</td>
        <td>{{tech[17]}}</td>
        <td>{{tech[18]}}</td>
        <td>{{tech[19]}}</td>
        <td>{{tech[20]}}</td>
    </tr>
    <tr>
        <td>{{tech[21]}}</td>
        <td>{{tech[22]}}</td>
        <td>{{tech[23]}}</td>
        <td>{{tech[24]}}</td>
        <td>{{tech[25]}}</td>
    </tr>
    <tr>
        <td>{{tech[26]}}</td>
        <td>{{tech[27]}}</td>
        <td>{{tech[28]}}</td>
        <td>{{tech[0]}}</td>
        <td>{{tech[30]}}</td>
    </tr>
</table>
<div>&nbsp;</div>
<hr>
<work-experience></work-experience>
&nbsp;
<hr>
<h2>{{educationtitle}}</h2>
<education-experience></education-experience>
</body>