<div class="restfont text-center">
    <div *ngIf="displayCurrentJob == true">
    <b><h2>{{worktitle}}</h2></b>
    <span>{{jobtitle1}}</span>
    |
    <span>{{joblocation1}}</span>
    |
    <span>{{jobduration1}}</span>
    <ul>
        <li>{{jobpoints1[0]}}</li>
        <li>{{jobpoints1[1]}}</li>
        <li>{{jobpoints1[2]}}</li>
    </ul>
    </div>
    <span>&nbsp;</span>
    <span>{{jobtitle2}}</span>
    |
    <span>{{joblocation2}}</span>
    |
    <span>{{jobduration2}}</span>
    <ul>
        <li>{{jobpoints2[0]}}</li>
        <li>{{jobpoints2[1]}}</li>
        <li>{{jobpoints2[2]}}</li>
    </ul>
    </div>